* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    /*弹性布局*/
    justify-content: center;
    align-items: center;
    /*水平垂直居中*/
    background-color: black;
}

h2 a {
    text-decoration: none;
    color: #222;
    font-size: 100px;
}

h2 span {
    transition: 0.5s;
}

h2:hover span:nth-child(1) {
    margin-right: 10px;
}

h2:hover span:nth-child(2) {
    margin-left: 30px;
}

h2 span:nth-child(1)::after {
    opacity: 0;
    transition: 2s;
}

h2:hover span:nth-child(1)::after {
    content: "'";
    opacity: 1;
    /* 透明度为不透明 */
}

h2:hover span {
    color: white;
    /* 文字阴影 */
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 80px #fff;


}